.navbar {
    background-color: #B7CECE;
    width: 100%;
    /* height: 300px; */
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-links {    
    display: flex;
    align-items: center;
}

.nav-links {
    padding: 0.8rem 0;
    margin: 0 10px;
}

.nav-links a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: #B7CECE;
    border-radius: 0.4rem;
    padding: 0.8rem 1rem;
    border: 1px solid #292F36;
    transition: 0.8s;
}

.nav-links a:hover{
    color: #B7CECE;
    background-color: #292F36;

}

.logo-img {
    background-color: yellow;
}
