* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #292f36;
  font-family: "Roboto", sans-serif;
}

.main {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  /* background-color: beige; */
  display: flex;
  color: #9e9897;

  /* justify-content: center; */
  /* align-items: center; */
}
